<h2>ACCESS NODE</h2>

<p>authentication required</p>

<% if (error) { %>
    <p class="error">invalid key</p>
<% } %>

<form action="/auth" method="POST">
    <input type="text" name="password" placeholder="key">
    <button>enter</button>
</form>

<!-- .- .-.. ..-. .-  -->

<div style="display:none" data-hint="decode morse"></div>